@import 'reset.scss';
@import 'variables.scss';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
}

h1, h2, span {
  font-family: $header-font;
}

h1 {
  font-size: 3em;
  margin: 30px 0;
  text-align: center;
}

h1,
.current-quality,
.idea-title {
  color: $idea-title-text;
}

.title-span {
  color: $accent-color;
}

.text-input {
  border: 1px solid $text-input-color;
  font-size: 20px;
  padding: 5px;
}

.body-input,
.search-input {
  margin-top: 20px;
}

.body-input {
  height: 40px;
}

.image {
  border: none;
  height: 30px;
  margin-bottom: 20px;
  width: 30px;
}

.input-area,
.input-container,
.new-idea-area,
.quality-container {
  display: flex;
}

.input-area,
.input-container,
.new-idea-area {
  flex-direction: column;
}

.input-container,
.new-idea-area {
  align-items: center;
}

.input-container {
  background: #E5F3F2;
}

.idea-list,
.input-area,
.search-input {
  width: 55%;
}

.save-button {
  font-size: 1.2em;
  padding: 1% 54.5% 4.5% 44.5%;
}

.save-button {
  background-color: $button-background;
  color: $button-text;
  height: 30px;
  width: 100px;
}

.save-button:hover {
  background-color: $button-hover;
}

.idea-card {
  border-bottom: 2px solid $card-border;
  margin: 5px 0;
  padding-top: 10px;
}

h2 {
  font-size: 1.5em;
}

.delete-button {
  background: url(images/delete.svg) no-repeat;
  float: right;
  margin-right: 5px;
  margin-top: -40px;
}

.delete-button:hover {
  background: url(images/delete-hover.svg) no-repeat;
}

.upvote-button {
  background: url(images/upvote.svg) no-repeat;
}

.upvote-button:hover {
  background: url(images/upvote-hover.svg) no-repeat;
}

.downvote-button {
  background: url(images/downvote.svg) no-repeat;
}

.downvote-button:hover {
  background: url(images/downvote-hover.svg) no-repeat;
}

.idea-title,
.save-button {
  margin: 20px 0;
}

.idea-body {
  color: $idea-body-text;
  font-size: 1.2em;
  margin: 30px 0;
}

.downvote-button {
  margin-left: 20px;
}

.current-quality {
  margin: 5px 0 0 30px;
}

@media screen and (max-width: 700px){

  h1 {
    font-size: 2em;
  }

  .body-input {
    height: 100px;
  }

  .idea-list,
  .input-area,
  .search-input {
    width: 85%;
  }

  .save-button {
    padding-bottom: 30px;
  }

}
