/* Colors */

$accent-color: #00A79D;

$text-input-color: #D1D3D4;

$save-button-background: #00A79D;
$save-button-text: #FFF;
$save-button-hover: #045E55;

$card-border: #D1D3D4;
$idea-title-text: #6D6E71;
$idea-body-text: #939598;

/* Fonts */

$main-font: 'Open Sans', sans-serif;
$header-font: 'Roboto Slab', serif;