/* Colors */

$white: #FFF;
$light-gray: #D1D3D4;
$medium-gray: #939598;
$medium-dark-gray: #6D6E71;

$woah-teal: #00A79D;
$chill-teal: #045E55;

/* Color Assignments */

$accent-color: $woah-teal;
$accent-color-hover: $chill-teal;
$unfocused-content: $light-gray;

$text-input-color: $unfocused-content;

$button-background: $accent-color;
$button-text: $white;
$button-hover: $accent-color-hover;

$card-border: $unfocused-content;
$idea-title-text: $medium-dark-gray;
$idea-body-text: $medium-gray;

/* Fonts */

$main-font: 'Open Sans', sans-serif;
$header-font: 'Roboto Slab', serif;